<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
  <div class="row">
    <div class="col-md-5">
    {{ if !topic}}
 <div class="alert alert-danger" role="alert">该话题已不存在！</div>
    {{else}}
  <form id="edit_form">
  <input type="hidden" id="topic_id" value="{{ topic.id }}">
        <div class="form-group">
          <label for="exampleInputEmail1">选择板块</label>
          <select class="form-control" name="categoryId" required>
           {{ each topicCategories }}
           {{ if $value.id === topic.categoryId}}
           <option value="{{ $value.id }}" selected>{{ $value.name }}</option>
           {{else}}
                <option value="{{ $value.id }}">{{ $value.name }}</option>
           {{/if}}
            {{ /each }}
          </select>
        </div>
        <div class="form-group">
          <label for="title">标题</label>
          <input type="title" class="form-control" id="title" value="{{ topic.title}}" name="title" placeholder="title">
        </div>
        <div class="form-group">
          <label for="content">内容</label>
          <textarea class="form-control" id="content" name="content" rows="10">{{ topic.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    {{ /if}}
    
    </div>
  </div>
</section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script>
      $('#edit_form').on('submit',handleEdit)
    function handleEdit(e){
      e.preventDefault()
      var formData = $(this).serialize()
      // console.log(formData)
      var topicId = $('#topic_id').val()
      // console.log(topicId,formData)
      $.ajax({
        url:'/topic/edit?id=' + topicId,
        type:'post',
        data:formData,
        dataType:'json',
        success:function(data){
          // console.log(data)
          var code = data.code
          switch(code){
             case 0:
             window.location.href=data.redirect
             break
          }
        },
        error:function(err){
          console.log(err)
        }
      })
    }
  </script>
</body>

</html>
